/* CSS declarations go here */
body{
  padding: 0;
  margin: 0;
}
.header-contener{
  padding: 10px;
  background: #ccc;
  display: flex;
}
.header-app-name,
.header-app-profile{
  flex-grow: 1;
}


.footer{
  padding: 10px;
  background: #ccc;
  text-align: center;
}
.layout{
  display: flex;
}
.sidebar,.content,.chat{
  padding:10px;
}
.sidebar{
  flex: 1;
  background: rgba(255, 0, 0, 0.2);
}
.content{
  flex: 3;
}
.chat{
  flex: 1;
  background: rgba(0, 255, 0, 0.2);
}
